<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name_jp</key>
		<string>酒井 邦也</string>
		<key>name_kana</key>
		<string>sakai kuniya</string>
		<key>email</key>
		<string>test@test.jp</string>
	</dict>
</array>
</plist>
